.container{
	background-color: 
}

#vid_title{
	text-align: center;
	float: right;
	color: darkolivegreen;
}

#recents-list{
	height: 300px;
	overflow: auto;
}

#starred-list{
	height: 300px;
	overflow: auto;
}